<launch>
  <arg name="name" default="world"/>
  <arg name="py" default="true"/>
  <group ns="ns1">
    <param name="hello_name" value="$(arg name)" />
    <node pkg="ros_hello" type="hello_talker" name="talker"/>
    <node pkg="ros_hello" type="hello_listener" name="listener"/>
  </group>
  <group if="$(arg py)">
    <group ns="ns2">
      <node pkg="ros_hello" type="talker.py" name="talker"/>
      <node pkg="ros_hello" type="listener.py" name="listener"/>
    </group>
  </group>
</launch>
